@import "../../scss/variables";

#alert-scree {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  background: rgba(255, 0, 0, 0.507);
  z-index: 20;
  display: none;

  #alert-box {
    background: blue;
    height: 35rem;
    width: 70%;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: 2fr 3fr;

    @media (max-width: 650px) {
      width: 90%;
    }

    .rank-section{
        padding: 1rem;
    }

    #rank-section-up {
      background: green;
      display: grid;
      grid-template-columns: 2fr 4fr;

      img{
        background: purple;
        width: 100%;
      }

      span{
        background: tomato;
      }
    }

    #rank-section-down {
      background: red;
    }
  }
}
