// _variables.scss

$text-color: #edfded;           // Primary color: #edfded (RGB: 237, 253, 237)
$secondary-color: #111111;         // Secondary color: #000000 (RGB: 0, 0, 0)
$primary-button-color: #00ff80;    // Primary Button color: #3fe994 (RGB: 63, 233, 148)
$secondary-button-color: #c5d5e7;  // Secondary Button color: #042020 (RGB: 4, 32, 32)
$secondary-button-color-hover: #abbbcc;
$primary-color: #86d9e7;            // Accent color: #14adad (RGB: 20, 173, 173)
$text-color: #ddfdfa;
$background-color: #282f29;
$button-color: #7293e6;