// _variables.scss

$text-color: #edfded;
$secondary-color: #111111;
$primary-button-color: #00ff80;
$primary-button-color-hover: #00ce67;
$secondary-button-color: #c5d5e7;
$secondary-button-color-hover: #abbbcc;
$primary-color: #86d9e7;
$text-color: #ddfdfa;
$background-color: #282c2f;
$high-score-background-color: #333b3f;
$button-color: #5c84eb;
$button-color-hover: rgb(78, 112, 197);

$input-border: 2px solid #4f686d;
