// _variables.scss

$primary-color: #edfded;           // Primary color: #edfded (RGB: 237, 253, 237)
$secondary-color: #000000;         // Secondary color: #000000 (RGB: 0, 0, 0)
$primary-button-color: #3fe994;    // Primary Button color: #3fe994 (RGB: 63, 233, 148)
$secondary-button-color: #042020;  // Secondary Button color: #042020 (RGB: 4, 32, 32)
$accent-color: #14adad;            // Accent color: #14adad (RGB: 20, 173, 173)
